.footer 
  background: $dark url('../img/footer-bg.jpg') no-repeat center / cover
  padding-top: 3rem
  &__wrap 
    background: url('../img/bg-lines.png') no-repeat center / cover
    background-color: $black
    max-width: 63.07rem
    margin: auto
    margin-top: -18rem
    margin-bottom: 3.714rem
    padding: 2.5rem
  &__title 
    text-transform: uppercase
    font-family: 'Yeseva One', cursive
    font-weight: normal
    font-size: 1.428rem
    text-align: center
    margin-bottom: 3.214rem
    margin-top: 0
  &__form 
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    max-width: 37.142rem
    margin: auto
  &__input 
    padding-top: 0.3rem
    &-group 
      display: flex
      flex-direction: column
      flex-basis: 45%
      margin-bottom: 3.2rem
      &--full-width 
        flex-basis: 100%
        margin-bottom: 2rem
  &__policy 
    flex-basis: 100%
    margin-bottom: 3.6rem
  &__button 
    margin: auto
    padding: 18px 67px
  &__menu 
    background-color: $dark
    padding: 4.285rem 0
  &__social 
    display: flex
    justify-content: center
  &__tag 
    display: flex
    justify-content: center
    flex-direction: column
    order: 1
  &__tel 
    text-decoration: none
    color: $primary
  &__text 
    text-align: center
    font-family: "Yeseva One", cursive
    font-weight: normal 
    font-size: 1.43rem
    line-height: 2rem
    text-transform: uppercase
    color: $primary
    margin: 0
  &__img 
    margin-top: 2rem
    margin-bottom: 3rem
    &:first-of-type 
      margin-right: 1rem
.ymap-container
  filter: grayscale(100%)
  max-width: 66rem
  min-height: 33.214rem
  margin: auto
  margin-bottom: 4rem
  position: relative
  overflow: hidden
  cursor: pointer
  background: url('../img/ya-map.png') center center
  background-size: cover
#map 
  position: relative
  z-index: 7
  width: 100%
  height: 33.214rem
  cursor: pointer
  background-color: transparent
.ymaps-2-1-76-map
  width: 66rem
.ymaps-2-1-76-map .ymaps-2-1-76-i-ua_js_yes .ymaps-2-1-76-map-bg .ymaps-2-1-76-islets_map-lang-ru
  width: 66rem

.loader 
  position: absolute
  z-index: 15
  top: -100%
  left: 0
  box-sizing: border-box
  width: 100%
  height: 100%
  overflow: hidden
  color: #000000
  transition: opacity .7s ease
  opacity: 0
  background-color: rgba(0,0,0,.55)
 
.loader::after,
.loader::before 
  box-sizing: border-box

 
.loader.is-active 
  top: 0
  opacity: 1

 
.loader-default::after 
  position: absolute
  top: calc(50% - 24px)
  left: calc(50% - 24px)
  width: 48px
  height: 48px
  content: ''
  animation: rotation 1s linear infinite
  border: solid 8px #ffffff
  border-left-color: transparent
  border-radius: 50%
@keyframes rotation 
  from 
    transform: rotate(0)
  to 
    transform: rotate(359deg)
@keyframes blink 
  from 
    opacity: .5
  to 
    opacity: 1